<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhin.vehiclerentalsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".login" />
        <activity android:name=".home" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".bikespecs" />
        <activity android:name=".suvspecs" />
        <activity android:name=".hatchbackspecs" />
        <activity android:name=".premiumspecs" />
        <activity android:name=".sedanspecs" />
        <activity android:name=".b1" />
        <activity android:name=".b2" />
        <activity android:name=".b3" />
        <activity android:name=".b4" />
        <activity android:name=".h1" />
        <activity android:name=".h2"></activity>
    </application>

</manifest>